body{
    background-color: blue;
}
.whattheygiveus{
    background-color: yellow;
}
.Whatilikeaboutcows{
    background-color: chartreuse;
}
.Whatcowshelpuswith{
    background-color: crimson;
}
.whattheyareusedfor{
    background-color: darkorange;
}